.full-dark-gist .gist .gist-file, .semi-dark-gist .gist .gist-file {
  background-color: white;
  border-color: white;
}

.full-dark-gist .gist .gist-file .gist-data, .semi-dark-gist .gist .gist-file .gist-data {
  background-color: #1E1E1E;
  border-color: black;
}

.full-dark-gist .gist .gist-file .gist-data .file .Box-body .highlight, .semi-dark-gist .gist .gist-file .gist-data .file .Box-body .highlight {
  background-color: #1E1E1E;
}

.full-dark-gist .gist .gist-file .gist-data .file .Box-body .highlight .blob-num, .semi-dark-gist .gist .gist-file .gist-data .file .Box-body .highlight .blob-num {
  color: #b9b9b9ab;
  border-right: 2px solid #b9b9b97e;
}

.full-dark-gist .gist .gist-file .gist-data .file .pl-c, .semi-dark-gist .gist .gist-file .gist-data .file .pl-c {
  color: #6a9955;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code {
  color: #dadada;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-smi, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-smi {
  color: #dadada;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-ent, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-ent {
  color: #569cd6;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-c1, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-c1 {
  color: #9cdcfe;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-kos, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-kos {
  color: #424242;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-s, .semi-dark-gist .gist .gist-file .gist-data .file .type-html .blob-code .pl-s {
  color: #ce8349;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code {
  color: #dadada;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-k, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-k {
  color: #2c7ad6;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-en, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-en {
  color: #dcdcaa;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-s1, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-s1 {
  color: #9cdcfe;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-kos, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-kos {
  color: #dadada;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-s, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-s {
  color: #ce8349;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-smi, .semi-dark-gist .gist .gist-file .gist-data .file .type-javascript .blob-code .pl-smi {
  color: #4ec9b0;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code, .semi-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code {
  color: #dadada;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-c1, .semi-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-c1 {
  color: #9cdcfe;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-pds, .semi-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-pds {
  color: #ce8349;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-ent, .semi-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-ent {
  color: #569cd6;
}

.full-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-smi, .semi-dark-gist .gist .gist-file .gist-data .file .type-css .blob-code .pl-smi {
  color: #dadada;
}

.full-dark-gist .gist .gist-file {
  background-color: black !important;
  border-color: black !important;
}

.full-dark-gist .gist .gist-file .gist-meta {
  background-color: #151515;
}

.full-dark-gist .gist .gist-file .gist-meta a {
  color: #afafaf;
  text-decoration: none;
  transition: 0.2s ease-in color;
}

.full-dark-gist .gist .gist-file .gist-meta a:hover {
  color: white;
}
